<form [formGroup]="frmAdd" (ngSubmit)="onSubmitForm()">
    <div class="d-flex flex-row justify-content-between">
        <label>Hình:</label>
        <span [ngClass]="onValidatorTextColor('hinhAnh')" [innerHTML]="onValidator('hinhAnh',true)"></span>
    </div>
    <div class="d-flex flex-row input-group">
        <input type="text" class="form-control" name='avatar' [value]='filename' readonly>
        <input (change)="onFileChange($event)" type='file' [hidden]='true' class="form-control"
            placeholder="Nhập tên nhà cung cấp " #file />
        <div class="input-group-append">
            <button type="button" (click)="file.click()" class="btn btn-primary">Choose...</button>
        </div>
    </div>
    <br>
    <mat-form-field class="w-100">
        <mat-label>Sản Phẩm</mat-label>
        <mat-select formControlName="idSanPham">
            <ng-container *ngIf="sanphams">
                <mat-option [value]="1">null</mat-option>
                <mat-option *ngFor="let sanpham of sanphams" [value]="sanpham.id">
                    {{sanpham.tenSanpham}}
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>


    <div class="d-flex flex-row ">
        <button type="submit" [disabled]="frmAdd.invalid || is_loading" mat-flat-button color="warn" class="mr-2">
            <div class="d-flex justify-content-center position-relative">
                <div class="spinner-border text-muted position-absolute" *ngIf="is_loading"></div>
                <span> Thêm</span>
            </div>
        </button>
        <button type="reset" mat-stroked-button color="basic">Làm mới</button>

    </div>
</form>