<form [formGroup]="frmAdd" (ngSubmit)="onSubmitForm()">
    <mat-form-field class="w-100">
        <mat-label>Sản Phẩm</mat-label>
        <mat-select formControlName="idSanPham">
            <ng-container *ngIf="sanphams">
                <mat-option [value]="1">null</mat-option>
                <mat-option *ngFor="let sanpham of sanphams" [value]="sanpham.id">
                    {{sanpham.tenSanpham}}
                </mat-option>
            </ng-container>
        </mat-select>
        
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>Khuyến mãi</mat-label>
        <mat-select formControlName="idKhuyenMai">
            <ng-container *ngIf="khuyenmais">
                <mat-option [value]="1">null</mat-option>
                <mat-option *ngFor="let khuyenmai of khuyenmais" [value]="khuyenmai.id">
                    {{khuyenmai.tieuDe}}
                </mat-option>
            </ng-container>
        </mat-select>        
    </mat-form-field>        
    <mat-form-field class="w-100">
        <input matInput [matDatepicker]="picker" placeholder="Chọn ngày bắt đầu" formControlName="NgayBD"  [min]="ngayht">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="w-100">
        <input matInput [matDatepicker]="picker2" placeholder="Chọn ngày bắt đầu" formControlName="NgayKT"  [min]="ngayht">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>     

    <div class="d-flex flex-row ">
        <button type="submit" [disabled]="frmAdd.invalid || is_loading" mat-flat-button color="warn" class="mr-2">
            <div class="d-flex justify-content-center position-relative">
                <div class="spinner-border text-muted position-absolute" *ngIf="is_loading"></div>
                <span> Thêm</span>
            </div>
        </button>
        <button type="reset" mat-stroked-button color="basic">Làm mới</button>
    </div>   
</form>