<form [formGroup]="frm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
        <div class="d-flex flex-row justify-content-between">
            <label>Tên:</label>
            <span [ngClass]="onValidatorTextColor('tenPhuongthuc')" [innerHTML]="onValidator('tenPhuongthuc')">
            </span>
        </div>
        <input [ngClass]="onValidatorBorderColor('tenPhuongthuc')" class="form-control " placeholder="Nhập tên nhà cung cấp "
            formControlName="tenPhuongthuc" />
    </div>
    <div class="d-flex flex-row ">
        <button type="submit" [disabled]="frm.invalid || is_loading" mat-flat-button color="warn" class="mr-2">
            <div class="d-flex justify-content-center position-relative">
                <div class="spinner-border text-muted position-absolute" *ngIf="is_loading"></div>
                <span> Thêm</span>
            </div>
        </button>
        <button type="reset" mat-stroked-button color="basic">Làm mới</button>

    </div>
</form>